
.container {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 1) 55%, rgba(0, 0, 0, 0.85)), url('../Banner/img/imagem-fundo.jpg');
    background-position: center;
    color: #fff;
    padding-bottom: 5rem;
    padding-inline: 2rem;
    text-align: center;
    overflow: hidden;
}