section.container  {
    max-width: 1000px;
    width: 100%;
    margin-top: 15rem;
    margin: 2rem auto;
    padding: 0 2rem;
    color: #fff;
}

h1 {
    padding-bottom: 3px;
    font-size: 1.6rem;
}

h3 {
    font-size: 1.2rem;
}

.blocoh1 {
    margin-top: 5.5rem;
    padding-block: 15px;
    text-align: start;
}

.bloco {
    padding-block: 1rem;
    text-align: start;
}

.bloco h3 {
    padding-bottom: 3px;
}

.bloco ul {
    list-style: none;
}
