.header {
    background-color: #000;
    border-bottom: 2px solid #f44336;
    position: fixed;
    top: 0;
    width: 100%;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
}

div>img {
    width: 1.4rem;
    position: relative;
    right: 3px;
    top: 1.4px;

}

.header span {
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
}

.header a {
    text-decoration: none;
    color: #fff;
    padding-inline: 0.5rem;
    font-size: 20px;
    font-weight: 500;
    padding-inline: 15px;
}
