
/* css do elemtento <Card /> da pagina HomeCategory */
.card {
    display: flex;
    margin-top: 40px;
}

.card img {
    border-radius: 9px;
    width: 250px;
    height: 160px;
    transition: transform 0.3s
}

.card img:hover {
    transform: scale(2);
    border-radius: 12px;
    box-shadow: 0 0 10px #222;
    animation-delay: 5s;
    animation: transition-animation 1.2s forwards;
}

@keyframes zoom-animation {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.33);
    }
  }